*{
    margin: 0;
    padding: 0;
    }
body{
    background-color: black;
    width: 100%;
    position: relative;
   
}

main{
    margin: auto;
    padding: 10px;
    max-inline-size: 2000px;
}
body h2{
    text-align: center;
    font-size: 30px;
    color: white;
}

.close-cont{
    position: sticky;
    top: 0;
}

.wrapper:nth-of-type(2){
    top: 300px;
}

.menu-cont{
    right: 0;
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 5px;
}


.menu-cont img{
    width: 100%;
    height: 100%;
   
}


.menu{
    display: none;
}

.menu:target{
    display: block;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.755);
}



.close{
    width: 100%;
    height: 10px;
    position: relative;
}

.close-btn{
    margin-block-start: 8px;
    display: block;
    position: absolute;
    font-size: 25px;
    text-decoration: none;
    color: white;
    position: absolute;
    right:10px;
    font-weight: 700;
    height: 50px;
}

.menu-options-cont{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
}

.menu-options:nth-of-type(2){
    margin-inline-start: 15px;
    margin-block-start: 100px;
}

.menu-options:nth-of-type(3){
    margin-inline-start:23px;
    margin-block-start: 100px;

}

.menu-options{
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.galeria{
    margin-block-start: 30px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-cont{
    margin: auto;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin-block: 10px;

}

.img-cont img{
    height: 100%;
    width: 100%;
}


.hover-white{

    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.400);
    top: 0;
    transform: translate(200%);
    transition: transform .5s ease;
}

.img-cont:hover .hover-white{
    transform: translate(0%);
}
.hover-black{

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.400);
    top: 0;
    transform: translate(-200%);
    transition: transform .5s ease;
}


.img-cont:hover .hover-black{
    transform: translate(0%);
}

.hover{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0.619);
    top: 0;
    transform: translate(200%, 200%);
    transition: transform .5s ease;
}


.hover-green{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color:rgba(0, 128, 0, 0.653);
    top: 0;
    transform: translate(200%,-200%);
    transition: transform .5s ease;
}


.hover-yellow{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 0, 0.639);
    top: 0;
    transform: translate(-200%,400%);
    transition: transform .5s ease;
}


.hover-blue{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 255, 0.653);
    top: 0;
    transform: translate(-200%,-200%);
    transition: transform .5s ease;
}
.img-cont:hover .hover{
    transform: translate(100%, 100%);
    
}
.img-cont:hover .hover-green{
    transform: translate(100%);
}
.img-cont:hover .hover-blue,.img-cont:hover .hover-yellow{
    transform: translate(0%, 100%);
}

.img-cont:hover .hover-blue{
    transform: translate(0%, 0%);
}

.animated-slider-container{
    display: block;
    margin: auto;
    overflow: scroll;
    white-space:nowrap;
    max-width: 770px;
    scroll-behavior: smooth;
}

.slider-slide{    

}

.video{
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    animation: wssd 30s infinite;

}

.bullet-cont{
    margin:auto;
    max-width: 770px;
    height: 40px;
    text-align: center;
    margin-block: 10px;
}

.bullet{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    height:20px;
    width: 20px;
    margin-inline: 3px;
}

@keyframes wssd{
    12%{
        transform:translate(0); 
    }

    24%{
        transform: translate(-100%);

    }

    36%{
        transform: translate(-100%);
        
    }

    48%{
        transform: translate(-200%);
    }

    60%{
        transform: translate(-200%);
    
    }


    72%{
        transform: translate(-100%);
    }


    84%{
        transform: translate(-100%);

    }

    100%{
        transform: translate(0%);

    }
}

.grid-cont{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    margin: auto;
}

.grid-text{
    height: 100%;
    margin: auto;
    width: 50%;
    color: white;
}
.grid-img{
    color: white;
    width: 75%;
    margin: auto;
    margin-block-start: 20px;
}

.grid-img img{
    width: 100%;
}
    footer{
    width: 100%;
    background-color: rgb(16, 15, 15);
    }

.form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputs-cont{
    text-align: left;
    width: 50%;
    height: 500px;
    position: relative;
}

label{
    margin-inline-start: 100px;
    position: absolute;
}

label{
    top: 33px;
    font-size: 20px;
    transition: all 1s ease;
}


label:nth-of-type(2){    
    top:95px;

}

label:nth-of-type(3){
    top: 155px;
}
input{
    margin-block-start: 30px;
    margin-inline-start: 100px;
    display: block;
    height: 25px;
    width: 30%;
}

input:focus+label{
    color: white;
    font-size: 20px;
    transform:translate(0,-30px);
}

@media screen and (max-width:800px){

    input[type="submit"]{    
       
        margin-inline-start: -30px;
    }
    main{
        margin: auto;
        max-width: 700px;
    }

.grid-text{
    font-size: 15px;
    width: 80%;
}

.grid-img{
    height: 100%;
    width: 90%;
}
    

    }



@media screen and (min-width:800px){
 

.menu-cont img{
    right: 0;
    position: absolute;
    height: 30px;
    width: 30px;
}

    .img-cont{
        margin-inline: 1px;
        width: 45%;
    }
min{
    margin: auto;
    max-width: 800px;
}
.grid-text{
    font-size: 22px;
}

}


@media screen and (min-width:900px){
 

    min{
        margin: auto;
        max-width: 1000px;
    }

}

@media screen and (min-width:1500px){

    footer{
        max-width: 100%;
    }
    min{
        margin: auto;
        max-width: 100%;
    }

body h2{
    text-align: center;
    font-size: 50px;
    color: white;
}
    .img-cont{
        margin-inline: 1px;
        width: 25%;
    }

.grid-text{
    font-size: 24px;
    line-height: 32px;
    margin-block-start: 10%;

}

 }


